.the-pro-table {
  .ant-pro-table-list-toolbar-inline-menu {
    .ant-pro-table-list-toolbar-inline-menu-item {
      font-weight: bold;
      opacity: 1;
    }
  }
}

.the-pro-table {
  .ant-pro-card {
    .ant-pro-card-body {
      padding: 0;
    }
  }
}

.com-prolist {
  .ant-pro-card-body {
    padding: 0;
    li {
      padding-right: 1px;
      padding-left: 6px;
      border-radius: 8px;
      .ant-list-item-action {
        margin: 0;
      }
    }
  }
}

.checked {
  font-weight: 600;
  background-color: #d2e5ff;
}
